## **Python Assignment 1: Data Structures - Strings & Tuples**

# **Strings (Concatenation, Slicing and Other methods) :**
# **1. String Concatenation:**

Write a Python program that takes two strings i.e string 1 “Hello ”, string 2 get name as
input from the user and concatenates them together. Display the concatenated string as
the output.

In [ ]:
str1="Hello "
str2=input("Enter your name: ")

final_result = str1 + str2

print("Concatenated String:", final_result)

Enter your name: Kalanithi
Concatenated String: Hello Kalanithi

Now concatenate string 3 “, welcome to Python programming” to the existing string and display the output string.

In [ ]:
str3=", Welcome to Python Programming"

result = str1 + str2 + str3

print("Final Output:", result)

Final Output: Hello Kalanithi, Welcome to Python Programming

# **2. String Slicing and Indexing:**
Write a Python program using the above concatenated string as input and performs the
following tasks:

In [ ]:
#Print the first character of the string.
print("First Character of the String:", result[0])

#Print the last character of the string.
print("Last Character of the String:", result[-1])

#Print the first 5 characters of the string.
print("First 5 Characters of the String:", result[0:5])

#Print the last 11 characters of the string.
print("Last 11 Characters of the String:", result[-11:])

#Print the string in reverse.
print("String in reverse:", result[::-1])

#Use slicing and print the word “Python” from the existing string.
word = result [-22:-12]
print("Extracted WOrd:", word)

First Character of the String: H
Last Character of the String: g
First 5 Characters of the String: Hello
Last 11 Characters of the String: Programming
String in reverse: gnimmargorP nohtyP ot emocleW ,ihtinalaK olleH
Extracted WOrd:  to Python

# 3. String Methods:
Write a Python program that takes a string, strM = “Python beginner tutorial” and
perform the following tasks:

In [ ]:
#Convert the sentence to uppercase.
strM="Python beginner tutorial"
upper_case_strm = strM.upper()
upper_case_strm

#Convert the sentence to lowercase.
lower_case_strm=strM.lower()
lower_case_strm

#Use Capitalize and return the sentence to the original input form.
capitalized_str = strM.capitalize()
print("After capitalize:", capitalized_str)

original_str = capitalized_str.lower()

original_form = "Python beginner tutorial"
print("Original input form:", original_form)

#Count the total number of occurrences of character ‘t’  in the string.
count_t = strM.count('t')
print("Total number of 't' is: ",count_t)

#Replace all occurrences of “Python” with “Machine Learning”  in the input string strM = “Python beginner tutorial”
replaced_strm = strM.replace("Python","Machine Learning")
print("After Replacement: ",replaced_strm)

After capitalize: Python beginner tutorial
Original input form: Python beginner tutorial
Total number of 't' is:  3
After Replacement:  Machine Learning beginner tutorial

# Tuples (Creation, Modification and Access) :  
Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60):

In [ ]:
first_tuple = (10,20,30)
second_tuple = (40,50,60)

#Concatenate the two tuples and store it in “t_combine”
t_combine = first_tuple + second_tuple

print("1st Tuple: ",first_tuple)
print("2nd Tuple: ",second_tuple)
print("Combined Tuple: ",t_combine)

# Repeat the elements of “t_combine” 3 times
t_repeat = t_combine * 3
print("3 Times of t_combine: ",t_repeat)

#Access the 3rd element from “t_combine”
third_element = t_combine[2]
print("Third element of t_combine is:",third_element)

#Access the first three elements from “t_combine”
first_three_element = t_combine[0:3]
print("First three elements: ",first_three_element)

# Access the last three elements from “t_combine”
last_three_element = t_combine[-3:]
print("Last three elements: ",last_three_element)

1st Tuple:  (10, 20, 30)
2nd Tuple:  (40, 50, 60)
Combined Tuple:  (10, 20, 30, 40, 50, 60)
3 Times of t_combine:  (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
Third element of t_combine is: 30
First three elements:  (10, 20, 30)
Last three elements:  (40, 50, 60)